/* src/App.css */
/* 基本重置，确保全屏显示 */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    --sidebar-width: clamp(min(100%, 300px), 33%, 450px);
    --sidebar-padding: 16px;
}

/* 外层容器 #all 使用 absolute实现左右1:2 布局 */
#all {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 右侧地图容器 #map 的样式 */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: var(--sidebar-width); /* 与 #sidebar 的宽度保持一致 */
    transition: left 0.35s ease-in-out;
}

/* 保持光标为十字准星 */
.leaflet-zoom-box {
    background: rgba(255, 255, 255, 0.5);
    border: 2px dotted #ff7800;
}


/* 左侧边栏 #sidebar 的样式 */
#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--sidebar-width);
    z-index: 2000;

    display: flex;
    flex-direction: column;
    padding: var(--sidebar-padding);
    gap: 8px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    border-right: 1px solid #ccc;

    transition: transform 0.35s ease-in-out;
}
#sidebar.dragover {
    background-color: #e0e0e0; /* 拖拽悬浮时的背景色 */
}
#toggle-sidebar-btn {
    position: absolute;
    top: var(--sidebar-padding);
    right: calc(100% - var(--sidebar-width) + var(--sidebar-padding));
    z-index: 2001;         /* 确保按钮在最上层 */
    /* 美化样式 */
    width: 34px;
    height: 34px;
    padding: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #555;
    transition: all 0.35s ease-in-out;
}
#toggle-sidebar-btn:hover {
    background-color: #e9e9e9;
    color: #000;
}

/* 当 #all 拥有 .sidebar-collapsed 类时，侧边栏的状态 */
#all.sidebar-collapsed #sidebar {
    /* 改变6: 将侧边栏向左平移自身100%的宽度，移出屏幕 */
    transform: translateX(-100%);
}
/* 当 #all 拥有 .sidebar-collapsed 类时，主内容区的状态 */
#all.sidebar-collapsed #map {
    /* 改变7: 主内容区左边距变为0，占据全部宽度 */
    left: 0;
}
#all.sidebar-collapsed #toggle-sidebar-btn {
    /* 让按钮随侧边栏移出后，再向右移动100% + 10px，使其可见 */
    /*transform: translateX(calc(clamp(350px, 33%, 450px) + 10px));*/
    /* 原位置是calc(100% - var(--sidebar-width) + var(--sidebar-padding))，新位置是calc(100% - var(--sidebar-padding) - 34px)  */
    /*transform: rotate(180deg); */
    right: calc(100% - var(--sidebar-padding) - 34px);
}

#map-control-button-group {
    position: absolute;
    background-color: #ffffffb0;
    right: var(--sidebar-padding);
    top: var(--sidebar-padding);
    height: 34px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
    z-index: 1000;
}


h2 {
    margin: 0;
}

#description {
    margin: 0;
    height: 70px;
    overflow-y: hidden;
}

button {
    white-space: nowrap;
}
p {
    margin: 0;
}

/* 控制条样式 */

#sidebar #control {
    /*margin-top: 8px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    flex-wrap: wrap;
}


#sidebar .group {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

#sidebar #control #right-group {
    margin-left: auto;
}

#sidebar #control .separator {
    width: 1px;
    height: var(--sidebar-padding);
    background-color: #bbb;
}



#marker-list {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.list-item {
  border: 1px solid #ccc;
  padding: 8px;
  margin: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  overflow: clip;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s;
  border-radius: 16px;
}

.list-item:hover {
    background-color: #eaf6ff;
}

.list-item.selected {
    background-color: #aae6ff;
    border: 1px solid #007bff;
}

.list-item-desc {
  flex: 1;
  font-size: 12px;
  margin: 0;
  overflow-wrap: break-word;
  overflow: auto;
}

.list-item-img {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  object-fit: cover; /* 保证图片比例不变 */
  border-radius: 8px;
}


